body {
  background-color: black;
}

.svg_item {
}

.text_w {
}

.text_e {
}

.text_b {
  fill: red;
  stroke: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  stroke-width: 3px;
  stroke-dasharray: 100;
  stroke-dashoffset: 50;

  animation-name: draw;
  animation-duration: 3s;
  /* animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear; */
}

@keyframes draw {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dasharray: 0;
  }
}

.text_p {
}

.text_r {
}

.text_o {
}

.text_g {
}

.text_a {
}

.text_m {
}

.text_i: :hover {
  fill: red;
}

.text_n {
}

.text_g {
}

.rain {
  stroke-dasharray: 100;
  stroke-dashoffset: 200;

  animation-name: rainy;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rain_dash {
  filter: blur(1px);
}

@keyframes rainy {
  0% {
    stroke-dasharray: 200;
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
