@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.cursor {
  width: 6px;
  height: 32px;
  position: absolute;
  top: 35.5%;
  left: 1%;
  background-color: #e6e5e1;
  z-index: 6;
  cursor: pointer;

  transition-property: filter;
  transition-duration: 1.5s;

  animation-name: cursor_blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1, end);
}

@keyframes cursor_blink {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.bullock {
  position: absolute;
  top: 93%;
  left: 1%;
  text-align: left;
  line-height: 140%;
  font-family: "Noto Sans TC", sans-serif;
  color: #e6e5e1;
  z-index: 2;

  transition-property: filter;
  transition-duration: 1.5s;
}

.cuaron {
  position: absolute;
  top: 93%;
  left: 44%;
  text-align: center;
  line-height: 140%;
  font-family: "Noto Sans TC", sans-serif;
  color: #e6e5e1;
  z-index: 2;

  transition-property: filter;
  transition-duration: 1.5s;
}

.clooney {
  position: absolute;
  top: 93%;
  left: 92%;
  text-align: right;
  line-height: 140%;
  font-family: "Noto Sans TC", sans-serif;
  color: #e6e5e1;
  z-index: 2;

  transition-property: filter;
  transition-duration: 1.5s;
}

.copy_1 {
  position: absolute;
  top: 35%;
  left: 1%;
  text-align: left;
  line-height: 250%;
  letter-spacing: 4px;
  word-spacing: 4px;
  font-family: "Urbanist", sans-serif;
  color: #e6e5e1;
  z-index: 2;

  transition-property: filter;
  transition-duration: 1.5s;
}

.copy_2 {
  position: absolute;
  top: 65%;
  left: 1%;
  text-align: left;
  line-height: 250%;
  letter-spacing: 4px;
  word-spacing: 4px;
  font-family: "Urbanist", sans-serif;
  color: #e6e5e1;
  z-index: 2;

  transition-property: filter;
  transition-duration: 1.5s;
}

.small {
  font-size: 16px;
  font-weight: 300;
}

.medium {
  font-size: 28px;
  font-weight: 400;
}

.cl-1,
.cl-2,
.cl-3,
.cl-4,
.cl-i {
  font-size: 32px;
  font-weight: 300;
  filter: opacity(0) blur(50px);

  transition-property: filter;
  transition-duration: 1.5s;
}

.sandra_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  animation-name: typing;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(6, end);
}

.bullock_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  animation-name: typing;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(7, end);
}

.director_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  animation-name: typing;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(13, end);
}

.cuaron_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  animation-name: typing;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(14, end);
}

.george_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  animation-name: typing;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(6, end);
}

.clooney_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  animation-name: typing;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(7, end);
}

.ca1_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  filter: opacity(1) blur(0px);

  animation-name: typing;
  animation-duration: 3.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(28, end);
}

.ca2_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  filter: opacity(1) blur(0px);

  animation-name: typing;
  animation-duration: 3.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(30, end);
}

.ca3_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  filter: opacity(1) blur(0px);

  animation-name: typing;
  animation-duration: 3.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(15, end);
}

.ca4_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  filter: opacity(1) blur(0px);

  animation-name: typing;
  animation-duration: 3.5s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(9, end);
}

.cb1_typing {
  width: 0;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  filter: opacity(1) blur(0px);

  animation-name: typing;
  animation-duration: 3.5s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(27, end);
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
