.space {
  width: 3840px;
  height: 3840px;
  position: absolute;
  right: -50%;
  bottom: -120%;
  z-index: 0;
  border-radius: 100%;

  background-image: url("/midterm/asset/background_tinted.png");

  animation-name: space_rotate;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes space_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.shadow {
  width: 2048px;
  height: 2048px;
  position: absolute;
  left: 5px;
  bottom: 45%;
  z-index: 2;

  background-image: url("/midterm/asset/shadow_resized.png");
}

.earth {
  width: 2048px;
  height: 2048px;
  position: absolute;
  bottom: 45%;
  z-index: 1;

  background-image: url("/midterm/asset/earth_resized.png");

  animation-name: earth_rotate;
  animation-duration: 160s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes earth_rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.g {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 28%;
  z-index: 3;

  background-image: url("/midterm/asset/g.svg");

  animation-name: title_float;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.r {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 3;

  background-image: url("/midterm/asset/r.svg");

  animation-name: title_float;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.a {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 42%;
  z-index: 3;
  opacity: 0;

  background-image: url("/midterm/asset/a.svg");

  transition-property: opacity, filter;
  transition-duration: 1s;
}

.a_hover {
  opacity: 0.5;
  filter: blur(5px);
}

.a_hold {
  opacity: 1;
  filter: blur(0px);
}

.v {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 49%;
  z-index: 3;

  background-image: url("/midterm/asset/v.svg");

  animation-name: title_float;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.i {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 56%;
  z-index: 3;

  background-image: url("/midterm/asset/i.svg");

  animation-name: title_float;
  animation-duration: 10s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.t {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 63%;
  z-index: 3;

  background-image: url("/midterm/asset/t.svg");

  animation-name: title_float;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.y {
  width: 85px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 70%;
  z-index: 3;

  background-image: url("/midterm/asset/y.svg");

  animation-name: title_float;
  animation-duration: 10s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes title_float {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(2px, -5.5px);
  }
  50% {
    transform: translate(-3.5px, 10px);
  }
  75% {
    transform: translate(5px, -13px);
  }
  100% {
    transform: translate(-4.5px, 8.5px);
  }
}
